footer.footer
  .container.pt-3
    .row.pic.d-flex
      .col.d-flex.justify-content-center
        a.footer-logo-link.footer-inline-block(href='/')
          img(src='/img/logo2.png' alt='logo')
    .row.d-flex.justify-content-center.text-center
      .col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
        h5.footer-h PRODUCTS
        ul.footer-list.w-list-unstyled.text-center(role='list')
          li.list-item
            a.footer-link(href='#') Maps
          li
            a.footer-link(href='#') Navigation
          li
            a.footer-link(href='#') Search
          li
            a.footer-link(href='#') About us
          li
            a.footer-link(href='#') Vision SDK
          li
            a.footer-link(href='#') Home
          li
            a.footer-link(href='#') Price List
      .col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
        h5.footer-h PLATFORMS
        ul.footer-list.w-list-unstyled(role='list')
          li
            a.footer-link(href='#') Web
          li
            a.footer-link(href='#') Mobile
          li
            a.footer-link(href='#') VR
          li
            a.footer-link(href='#') Laptop
      .col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
        h5.footer-h SUPPORT
        ul.footer-list.w-list-unstyled.pb-3(role='list')
          li
            a.footer-link(href='#') Documentation
            a.footer-link(href='#') Paid Support
          li
            a.footer-link(href='#') Advice
            a.footer-link(href='#') Support
      .col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
        h5.footer-h Company
        ul.footer-list.w-list-unstyled(role='list')
          li
            a.footer-link(href='#') About us
          li
            a.footer-link(href='#') Customers
          li
            a.footer-link(href='#') Sponzors
          li
            a.footer-link(href='#') Advertisements
          li
            a.footer-link(href='#') Community
          li
            a.footer-link(href='#') Contact
      .col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
        h5.footer-h Others
        ul.footer-list.w-list-unstyled(role='list')
          li
            a.footer-link(href='#') Relax
          li
            a.footer-link(href='#') Wellness
          li
            a.footer-link(href='#') Logistics
          li
            a.footer-link(href='#') Sport centers
          li
            a.footer-link(href='#') Boxing rings
          li
            a.footer-link(href='#') Restaurant
          li
            a.footer-link(href='#') Saunas
          li
            a.footer-link(href='#') Events
          li
            a.footer-link(href='#') Blog
    .row.justify-content-center.text-center.align-items-center
      .col-12.mb-3.col-lg-4
        a.footer-link.bottom-link(style='font-weight:normal;font-size:large' href='#')
          | Terms & Conditions
        br
        a.footer-link.bottom-link(style='font-weight:normal;font-size:large' href='#')
          | Privacy
        a.footer-link.bottom-link(style='font-weight:normal;font-size:large' href='#')
          | Security
        br
      .col-12.mb-3.col-lg-4.names
        div(style='font-weight:normal;font-size:large')
          | Created by 
          a(href='https://www.instagram.com/mato_157/')
            b
              | Martin
              | Lauff
          |                         & 
          a(href='https://www.instagram.com/_michal.belko_/')
            b Michal Belko
        br
        .mt-3.bottom-link © Star gym
        br
      .col-12.col-lg-4
        a.social.footer-inline-block.mr-3
          div(style=' width: 100% ')
            i.fab.fa-facebook-square.fa-3x
        a.social.footer-inline-block.mr-3
          div(style=' width: 100% ')
            i.fab.fa-github-square.fa-3x
        a.social.footer-inline-block.mr-3
          div(style=' width: 100% ')
            i.fab.fa-linkedin.fa-3x
        a.social.footer-inline-block
          div(style=' width: 100% ')
            i.fab.fa-instagram.fa-3x
