extends clenstvaBase

block content
  main
    h2 Memberships
    .container-fluid
      .row
        .col-12.col-sm-6.col-xl-3.mb-4
          .card.border-danger.rounded
            .card-body.cervena
              .vizitka.back.vizitka-1.rounded
                .yellow
                .top.dots
                .personal-info
                  p CLASSIC pass
                  p Name Surname
                .bottom.dots
                .pink
              h5.nazov.d-flex.justify-content-center.text-danger CLASSIC
              ul.vyhody.fa-ul
                li
                  span.fa-li
                    img(src='https://img.icons8.com/pastel-glyph/64/000000/clock--v2.png' style='width:auto;height:30px;')
                  | Opened
                  |  6 - 12 p.m
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios-filled/50/000000/girl.png' style='\
                    width:auto;height:30px;')
                  | Women workouts

                li
                  span.fa-li
                    img(src='https://img.icons8.com/windows/48/000000/school-locker.png' style='width:auto;height:30px;')
                  | Small
                  | locker
                li
                  span.fa-li
                    i.fas.fa-wifi
                  | Free Wi-fi
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios/50/000000/bench-press--v2.png' style='\
                    width:auto;height:30px;')
                  | Modern
                  | machines
              .container.justify-content-center
                .row
                  .col-12
                    h6
                      b 30€
                      | /month
                .row.mt-3
                  .col-12.d-flex.justify-content-center
                    button.circleScaleBtn
                      span Purchase
        .col-12.col-sm-6.col-xl-3.mb-4
          .card.border-4.border-successs.rounded
            .card-body.zelena
              .vizitka.back.vizitka-4.rounded
                .yellow
                .top.dots
                .personal-info
                  p Emerald pass
                  p Name Surname
                .bottom.dots
                .pink
              h5.nazov.d-flex.justify-content-center.text-successs EMERALD
              ul.vyhody.fa-ul
                li
                  span.fa-li
                    i.fas.fa-check
                  | All benefits from
                  br
                  |                                     CLASSIC
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios-filled/50/000000/shower.png' style='width:auto;height:30px;')
                  | Showers
                li
                  span.fa-li
                    img(src='https://img.icons8.com/windows/48/000000/school-locker.png' style='width:auto;height:30px;')
                  | Ability to abandon a 
                  |                                     membership
                li
                  span.fa-li
                    img(src='https://img.icons8.com/pastel-glyph/64/000000/hydrotherapy--v2.png' style='width:auto;height:30px;')
                  | jacuzzi
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios-filled/50/000000/sauna.png' style='width:auto;height:30px;')
                  | Sauna
                  |                                     
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios-filled/50/000000/school-locker.png' style='width:auto;height:30px;')
                  |                                     Bigger locker
              .container.justify-content-center
                .row
                  .col-12
                    h6
                      b 50€
                      |/month
                .row.mt-3
                  .col-12.d-flex.justify-content-center
                    button.circleScaleBtn
                      span Purchase
        .col-12.col-sm-6.col-xl-3.mb-4
          .card.border-gold.rounded
            .card-body.zlata
              .vizitka.back.vizitka-3.rounded
                .yellow
                .top.dots
                .personal-info
                  p GOLD pass
                  p Name Surname
                .bottom.dots
                .pink
              h5.nazov.d-flex.justify-content-center.text-warning GOLD
              ul.vyhody.fa-ul
                li
                  span.fa-li
                    i.fas.fa-check
                  | All
                  |                                     benefits from
                  |                                     EMERALD
                li
                  span.fa-li
                    img(src='https://img.icons8.com/wired/64/000000/energy-drink.png' style='width:auto;height:30px;')
                  | Energy
                  |                                     drink /
                  |                                     protein bar 
                li
                  span.fa-li
                    img(src='https://img.icons8.com/pastel-glyph/64/000000/towel--v3.png' style='width:auto;height:30px;')
                  | Towel
                  |                                     Service
                li
                  span.fa-li
                    img(src='https://img.icons8.com/pastel-glyph/64/000000/get-a-discount--v1.png' style='width:auto;height:30px;')
                  | 20%
                  |                                     discount on
                  br
                  |                                     suplements
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios-filled/50/000000/personal-trainer.png' style='width:auto;height:30px;')
                  | 6
                  |                                     trainings with a
                  |                                     trainer
              .container.justify-content-center
                .row
                  .col-12
                    h6
                      b 150€
                      | /month
                .row.mt-3
                  .col-12.d-flex.justify-content-center
                    button.circleScaleBtn
                      span Purchase
        .col-12.col-sm-6.col-xl-3.mb-4
          .card.border-sec.rounded
            .card-body.modra
              .vizitka.back.vizitka-2.rounded
                .yellow
                .top.dots
                .personal-info
                  p DIAMOND pass
                  p Name Surname
                .bottom.dots
                .pink
              h5.nazov.d-flex.justify-content-center.text-sec DIAMOND
              ul.vyhody.fa-ul
                li
                  span.fa-li
                    i.fas.fa-check
                  | All benefits from GOLD 
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios-filled/50/000000/personal-trainer.png' style='width:auto;height:30px;')
                  | 12 trainings with a
                  |                                     trainer
                li
                  span.fa-li
                    img(src='https://img.icons8.com/wired/64/000000/flex-biceps.png' style='width:auto;height:30px;')
                  | Power
                  |                                     tests and
                  |                                     challanges
                li
                  span.fa-li
                    img(src='https://img.icons8.com/dotty/80/000000/bmi.png' style='width:auto;height:30px;')
                  | BMI machine
                  |                                     
                li
                  span.fa-li
                    img(src='https://img.icons8.com/wired/64/000000/infinity.png' style='width:auto;height:30px;')
                  | Unlimited
                  |                                     usage
                  |                                     of solarium
              .container.justify-content-center
                .row
                  .col-12
                    h6
                      b 400€
                      | /year
                .row.mt-3
                  .col-12.d-flex.justify-content-center
                    button.circleScaleBtn
                      span Purchase
