extends pravidlaBASE

block content
  .section__pravidla
    .pravidla__view
      .pravidla-p
        h2.section__title.pravidla__title(style='color: #ffff00;') Rules
        p.pravidla__paragraphs
          | 1. 
          strong Respect. 
          | You must respect, when your favourite machine
          | is
          | taken. If you insist on exercising there, try to agree on
          br
          |  changing
          |                         on a machine
          |                         with
          |                         that person.
        p.pravidla__paragraphs
          | 2. 
          strong Use a Towel. 
          | Use a towel, be sure to wipe down all surfaces your skin touches when you’re done with the equipment.
        p.pravidla__paragraphs
          | 3. 
          strong Clean Up After Yourself 
          | This means removing all weight plates from the squat rack, wiping down cardio machines, and never leaving a puddle of sweat behind.
        p.pravidla__paragraphs
          | 4. 
          strong Give people space. 
          | Move around the weight room like you’re defensive driving. If someone picks up a pair of dumbbells, just give them space to the front and side
        p.pravidla__paragraphs
          | 5. 
          strong Avoid the chitchat. 
          | The gym is a place of solace for many people and, although it can be a great social setting, try to keep the gossip to a minimum 
        p.pravidla__paragraphs
          | 6. 
          strong And don't be afraid to ask. 
          | If you want to ask something, just ask and we will answer you whatever you want to be answered
        p.pravidla__paragraphs
          | 7. 
          strong Use Deodorant. 
          | Speaking of hygiene, it is best to come prepared with the gym and use deodorant.
        p.pravidla__paragraphs
          | 8. 
          strong  Don’t Criticize Others 
          | The gym should be a safe place where people are able to train without judgement from others.
        p.pravidla__paragraphs
          | 9. 
          strong Loudness. 
          |It is not necessary to shout while training.
        p.pravidla__paragraphs
          | 10. 
          strong Save. 
          | Please if you are last in the locker room, turn off the light