extends relaxBase

block content
  main
    h2.relax__title RELAX
    p.relax__paragraph
      | The widest offer of relax services only in our gym. Come here to
      | relax in
      | jacuzzi, try three
      | types of saunas and lastly to enjoy a super massage.
    section.relax
      .container-fluid.wellness
        .row.align-items-center.justify-content-center.wellness_row
          .col-12.col-md-6.col-lg-4.title
            h3.podsekcia__title.mb-4 Wellness
            .relax__pack
              p.relax__par.text-center.text-white
                | In Wellnes you can find: 
                br
              ul.relax__list.text-white
                li.relax__el
                  | jacuzzi
                li.relax__el
                  | infra
                  | sauna
                li.relax__el
                  | finnish
                  | sauna
                li.relax__el
                  | swedish
                  | sauna
                li.relax__el
                  | jacuzzi
                li.relax__el
                  | massage
                  | with
                  | specialists
          .col-12.col-md-6.col-lg-4.pix.mx-auto.justify-content-center.d-flex
            img(src='/img/relax/wellness.jpg' alt='wellness_picture')
          .col-12.col-md-12.col-lg-4.rozpis
            table.tabulka
              thead
                tr
                  th
                    h2 Monday - Tuesday
              tbody
                tr
                  td 6:00 - 22:00
                tr
                  th
                    h2 Saturday - Sunday
                tr
                  td 8:00 - 13:00
      .container-fluid.wellness.mt-3
        .row.align-items-center.justify-content-center
          .col-12.col-md-12.col-lg-4.title
            h3.podsekcia__title Sauna
            p.wellness__par.sauna__par.text-white.text-center.text-lg-left.align-self-center
              | In
              | our sauna-world section
              | you can find lot of
              | types of saunas
              | for
              | satisfying,
              br
              |  and unbelievable stay.
          .col-12.col-md-6.col-lg-4.pix.mx-auto.justify-content-center.d-flex.wellness
            img(src='/img/relax/sauna.jpg' alt='wellness_picture')
          .col-12.col-md-6.col-lg-4.rozpis
            table.tabulka
              thead
                tr
                  th
                    h2 Monday - Tuesday
              tbody
                tr
                  td 6:00 - 22:00
                tr
                  th
                    h2 Saturday - Sunday
                tr
                  td 8:00 - 13:00
      .container-fluid.wellness.mt-3
        .row.align-items-center.justify-content-center
          .col-12.col-md-12.col-lg-4.title
            h3.podsekcia__title Massage
            p.wellness__par.masag__par.text-white.text-center.text-lg-left
              | We all know that massage
              | is really important for
              | everyone.
              | Massage can help against
              | stress and possible exhaustion,that we face daily.
          .col-12.col-md-6.col-lg-4.pix.mx-auto.justify-content-center.d-flex
            img(src='/img/relax/massage.jpg' alt='wellness_picture')
          .col-12.col-md-6.col-lg-4.rozpis
            table.tabulka
              thead
                tr
                  th
                    h2 Monday - Tuesday
              tbody
                tr
                  td 6:00 - 22:00
                tr
                  th
                    h2 Saturday - Sunday
                tr
                  td 8:00 - 13:00
