extends treneriBASE

block content
  header.header
    .navigation-wrap.start-header.start-style.animate__bounceInDown.animate__animated
      .container
        .row
          .col-12
            nav.navbar.navbar-expand-md
              a.navbar-brand(href='/')
                img(src='/img/logo2.png' alt='logo')
              .menu-wrapper.navbar-toggler.p-0(data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                .hamburger-menu
              #navbarSupportedContent.collapse.navbar-collapse.links
                ul.navbar-nav.ml-auto.py-4.py-md-0
                  li.nav-item.pl-md-0.ml-0.ml-md-4
                    a.nav-link(href='/') Home
                  li.nav-item.pl-md-0.ml-0.ml-md-4
                    a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') About
                    .dropdown-menu.border-0.bg-transparent
                      a.dropdown-item.overlayLeftBtn.pl-3(href='/gallery')
                        span Gallery
                      a.dropdown-item.overlayLeftBtn.pl-3(href='/rules')
                        span Rules
                  li.nav-item.pl-md-0.ml-0.ml-md-4
                    a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') Services
                    .dropdown-menu.border-0.bg-transparent
                      a.dropdown-item.overlayLeftBtn.pl-3(href='/memberships')
                        span Memberships
                      a.dropdown-item.overlayLeftBtn.mt-2.mb-2.pl-3(href='/group-exercises')
                        span
                          | Group
                          br
                          | exercises
                      a.dropdown-item.overlayLeftBtn.pl-3(href='/relax')
                        span Relax
                      a.dropdown-item.overlayLeftBtn.pl-3(href='/sport-areas')
                        span
                          | Sport
                          br
                          | Areas
                  li.nav-item.pl-md-0.ml-0.ml-md-4
                    a.nav-link(href='/trainers') Trainers
                  li.nav-item.pl-md-0.ml-0.ml-md-4
                    a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') Find gym
                    .dropdown-menu.border-0.bg-transparent
                      a.dropdown-item.overlayLeftBtn(href='/regions')
                        span Regions
                      a.dropdown-item.overlayLeftBtn(href='/extras')
                        span Extras
                  li.nav-item.pl-md-0.ml-0.ml-md-4
                    a.nav-link(href='/about') Contact
                  .nav-item.languages
                    a(href='https://stargym.herokuapp.com/treneri')
                      img.sk_flag(src='/img/slovakia.png' alt='sk_flag')
                    img.uk_flag(src='/img/uk.png' alt='uk_flag')
  main
    h1 Trainers
    .container-fluid
      .row.justify-content-center.d-flex
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer8.jpg' alt='Atul Prajapati')
              h2 John Smith
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer9.png' alt='Atul Prajapati')
              h2 Jacob Andersen
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer3.jpg' alt='Atul Prajapati')
              h2 Will South
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer4.jpg' alt='Atul Prajapati')
              h2 Jason Piery
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
      .row.justify-content-center.d-flex
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer10.jpg' alt='Atul Prajapati')
              h2 George Lushinger
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer6.jpg' alt='Atul Prajapati')
              h2 Sarah Connor
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trener10.jpg' alt='Atul Prajapati')
              h2 Laura Rolls
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer11.jpg' alt='Atul Prajapati')
              h2 Jacob Bogago
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter

